*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.sw?
.cproject
.gdb_history
.gdbinit
.gn
.metadata
.project
.pydevproject
.settings
/Makefile
/build
/chromium_deps
/chromium_gn
/google_apis/build
/gyp-mac-tool
/net/third_party/nss/
/out
/resources/*.*
/resources/*/*.*
/talk/examples/android/bin
/talk/examples/android/gen
/talk/examples/android/libs
/talk/examples/android/obj
/testing
/third_party/WebKit/Tools/Scripts
/third_party/android_testrunner
/third_party/android_tools
/third_party/asan
/third_party/cygwin
/third_party/directxsdk
/third_party/expat
/third_party/gaeunit
/third_party/gflags/src
/third_party/gold
/third_party/google-visualization-python
/third_party/icu
/third_party/jsoncpp
/third_party/junit
/third_party/libjingle
/third_party/libjpeg
/third_party/libjpeg_turbo
/third_party/libsrtp
/third_party/libvpx
/third_party/libyuv
/third_party/llvm
/third_party/llvm-build
/third_party/nss
/third_party/oauth2
/third_party/openssl
/third_party/opus
/third_party/protobuf
/third_party/sqlite
/third_party/valgrind
/third_party/winsdk_samples/src
/third_party/yasm
/tools/android
/tools/android-dummy-test
/tools/clang
/tools/gn
/tools/grit
/tools/gritsettings
/tools/gyp
/tools/protoc_wrapper
/tools/python
/tools/swarming_client
/tools/valgrind
/tools/win
/webrtc/modules/audio_device/android/test/bin/
/webrtc/modules/audio_device/android/test/gen/
/webrtc/modules/audio_device/android/test/libs/
/webrtc/video_engine/test/android/bin
/webrtc/video_engine/test/android/gen
/webrtc/video_engine/test/android/libs
/webrtc/video_engine/test/android/obj
/x86-generic_out/
/xcodebuild
!*.sha1

