*.target.mk
*.Makefile
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*~
.*.sw?
.DS_Store
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
.settings
/build
/gyp-mac-tool
/Makefile
/out
/src/supplement.gypi
/testFiles
/testing
/third_party/expat
/third_party/google-gflags/src
/third_party/jsoncpp
/third_party/libjingle
/third_party/libjpeg
/third_party/libjpeg_turbo
/third_party/libvpx
/third_party/llvm-build
/third_party/protobuf
/third_party/yasm
/tools/clang
/tools/gyp
/tools/win
/x86-generic_out/
/xcodebuild
ViE*.txt
DumpFileName.rtp
IncomingRTPDump.rtp
OutgoingRTPDump.rtp
WebRTCViECapture_Standard
*.yuv

